.page_Margin{
    margin-left:20px; 
    margin-right:20px;
}
.TabStrip_Margin{
    margin-bottom:20px;
}
.span_left{
    margin-left:30px;
}
.TextField_TextView{
    margin-left:20px;
}
.TextField_Date{
    margin-left:10px;
}
.TextField_Date_top{
    margin-top:8px;
}
.margin_top{
    margin-top: -18px;
    height:100px;
}
.sapMInputBaseInner {
    color: #000000;
    background-color: #ffffff;
    border: 1px solid #c0c0c0;
    margin: 0;
    font-size: 0.75rem;
    font-family: Arial,Helvetica,sans-serif;
    line-height: normal;
    height: 23px;
    vertical-align: top;
    padding: 0 0.75rem;
    -moz-appearance: textfield;
}
.sapUiVlt{
    display: inline-block;
    overflow: scroll;
}
._vertical{
    height:290px;
}
.panel_bkgColor{
    background-color: #BDE2EA;
}
.title_font_size{
    font-size: 1rem;
}
.sapMTB-Transparent-CTX>.sapMTitleTB.sapMTitleStyleAuto{
    font-size: 0.875rem;
}
.sapMInputBase{
    background-color: transparent;
    border: none;
    position: relative;
    display: inline-block;
    padding: 0rem 0; 
    height: 23px;
    vertical-align: top;
}
.sapMComboBoxBaseArrow {
    width: 2rem;
    height: 17px;
    line-height: 0.95rem;
    top: 0.3125rem;
    right: 0.05rem;
}
input.sapMComboBoxBaseInputInner:not(.sapMComboBoxBaseInputInnerReadonly) {
    padding-right: 0rem;
}