.page_Margin{
    margin-left:20px; 
    margin-right:20px;
}
.TabStrip_Margin{
    margin-bottom:20px;
}
.span_left{
    margin-left:30px;
}
.TextField_TextView{
    margin-left:20px;
}
.margin_top{
    margin-top: -18px;
    height:100px;
}
.sapMInputBaseInner {
    color: #000000;
    background-color: #ffffff;
    border: 1px solid #c0c0c0;
    margin: 0;
    font-size: 0.875rem;
    font-family: Arial,Helvetica,sans-serif;
    line-height: normal;
    height: 23px;
    vertical-align: top;
    padding: 0 0.75rem;
    -moz-appearance: textfield;
}
.sapUiVlt{
    display: inline-block;
    overflow: scroll;
}
._vertical{
    height:290px;
}
.panel_bkgColor{
    background-color: #BDE2EA;
}